<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Split the word</title>
    <script>document.write('<base href=/employees/>');</script>
    
	<script data-require="angulra.js@1.5.x" src="https://code.angularjs.org/1.5.8/angular.min.js" data-semver="1.5.8"></script>
	<script src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
	<script th:src="@{/app.js}"></script>
	<link th:href="@{/bulma.min.css}" rel="stylesheet" />
    <link th:href="@{/style.css}" rel="stylesheet" /> 
  </head>

  <body  ng-app="plunker" ng-controller="MainCtrl">
         <section class="hero is-fullheight"> 
     	 <table border="1" width="100%">
     	 <thead>
          <div class="hero-head">
            <nav class="navbar is-dark">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="http://www.wotsoc.org:5000/">
                            <img src="/HeadWord/logo.png" height="40">
                            WoTSoC
                        </a>
                        <a class="navbar-item" href="http://www.wotsoc.org:5000/#">
                        </a>
                    
                        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroA">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                <a href="http://www.wotsoc.org:5000/" class="navbar-item">
                                    Home
                                </a>
                                <a href="http://www.wotsoc.org:5000/login" class="navbar-item">
                                    Login
                                </a>
                                <a href="http://www.wotsoc.org:5000/signup" class="navbar-item">
                                    Sign Up
                                </a>
                            </div>
                    </div>
            </nav>
          </div>
        </thead>
        <tr><td>
        <div class="hero-body">
            <div class="container has-text-centered">
			  <table border="1" width="100%">
				<tr>
				  <td>	
				  <h1 class="title">
					 சொல் பிரித்தல் 
				  </h1>
				  </td>
				</tr>
				<tr>
				 <td>	
				  <form ng-submit="submitWord()">
					 <table border="1" width="100%">
						<tr>
						   <td>Enter a text or paragraph</td>
						</tr>
						<tr>
							<td>
								<textarea style="width:90%;height:60%" ng-model="wordForm.sentence"></textarea>
							</td>
						</tr>
						<tr>
						   <td colspan="2">
							  <input type="text" name="uid" ng-model="wordForm.uid">
							  <input type="submit" value="Submit" class="blue-button"/>
						   </td>
						</tr>
						
					  </table>
				  </form>
				  <br/>
				  </td>
			    </tr>
				<tr>
				<td>
		      <table border="1" width="100%">
		         <tr>
		            <th>சொல்</th>
		            <th>பெயர்</th>
		            <th>வினை</th>
		            <th>பெயர்-வினை</th>
					<th>வேற்றுமை</th>
					<th>காலம்</th>
					<th>ஓற்று</th>
					<th>விகுதி</th>
					<th>சாரியை</th>
					<th>பன்மை</th>
					<th>உடம்படுமெய்</th>
					<th>ஓற்று</th>
					<th>ஏகாரம்</th>
					<th>எதிர்மறை</th>
					<th>வினா</th>
					<th>வி. பெ. விகுதி</th>
					<th>தொ.பெ.விகுதி</th>
				 </tr>
		         <!-- $scope.words -->
		         <tr data-ng-repeat="word in words">
		            <td> 
		            		{{ word.key }} 
		            </td>
		            <td>
		            		{{ word.item1}} 
		            </td>
					<td>
		            		{{ word.item2}}
		            </td>
					<td>
		            		{{ word.item3}} 
		            </td>
					<td>
		            		{{ word.item4}} 
		            </td>
					<td>
		            		{{ word.item5}} 
		            </td>
		            <td>
		            		{{ word.item6}}
		            </td>
		            <td>
		            		{{ word.item7}}
		            </td>
		            <td>
		            		{{ word.item8}}
		            </td>
		            <td>
		            		{{ word.item9}}
		            </td>
		            <td>
		            		{{ word.item10}}
		            </td>
		            <td>
		            		{{ word.item11}}
		            </td>
		            <td>
		            		{{ word.item12}}
		            </td>
		            <td>
		            		{{ word.item13}}
		            </td>
		            <td>
		            		{{ word.item14}}
		            </td>
		            <td>
		            		{{ word.item15}}
		            </td>
		            <td>
		            		{{ word.item16}}
		            </td>
		         </tr>
		      </table>
			  </td>
			  </tr>
			  </table>
		   </div>
        </div>
			  
	   </section>
	   </td></tr>
	   </table> 
  </body>

</html>